@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

html,
body {
  padding: 0px !important;
  margin: 0px !important;
    font-family: 'PT Mono',
        monospace;
        background-color:rgba(245, 243, 237, 0.847);
}
